body {
    font-family: 'Poppins', sans-serif;
}

/* .Container {
    display: flex;
    width: 50%;
    max-wdith: 100%;
    padding: 0 20px;
    margin: 0 auto;
    border: 5px solid black;
} */

.order-container {
    padding-top: 100px;
}

.order__nav__wrapper {
    padding-top: 20px;
    /* border: 1px solid black; */
}

.order__nav {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px 20px;
    margin-bottom: 10px;

}

.order__logo__brand {
    color: white;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
}



.order__icon {
    display: flex;
    font-size:large;
    list-style: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
    
}

.order__icon > li {
    padding: 0 10px;
}

.order__icon__search :hover {
    color: red;
}

.order__main {
    display: flex;
    height: 90%;
}

.order__image__container {
    display: flex;
    flex: 1;
    padding: 0 0 0 50px;
}

.order__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* .product__image:hover {
    transform: scale(1.5);
} */

.order__desc {
    padding: 30px 0 0 60px;
    flex: 1;
}

.order__desc__ratings {
    margin-bottom: 10px;
}

.order__title {
    margin-bottom: 18px;
}

.order__title__para {
    color: black;
    opacity: 0.1;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* .product__title__para :hover {
    color: red;
} */

.order__price {
    color: #7768a5
    ;
}

.order__flavour {
    margin-top: 30px;
    margin-bottom: 15px;
}

.order__flavour__button {
    margin-bottom: 13px
}

.order__like {
    margin-top: 20px;
    margin-bottom: 30px;
}

.order__button {
    margin-bottom: 20px;
}




@media only screen and (max-width: 860px) {
    .order__main {
      flex-direction: column;
    }

    .order__desc {
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }

    /* .product__desc {
        padding: 30px 0 0 180px;
    } */

    .order-container {
        padding-top: 0;
    }
}

@media only screen and (max-width: 400px) {
    .order__icon {
        display: none;
    }
}




