
.main-contact{
    width: 100%;
}
.contact{
    width: 80%;
    margin: 120px auto 0px auto;
    padding-bottom: 20px;
}
.contact__container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

.contact-header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.contact__container__left{
    background-color: #e791a1;
    padding: 30px;
    color: #111;
    border-radius: 20px;
}
.contact-icon{
    width: 40px;
    height: auto;
}

.contact-text{
    display: flex;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.contact-link{
    list-style: none;
    color: #111;
    text-decoration: none;
    font-weight: 100;
    align-items: center;
    /* margin-top: 10px; */
    margin-left: 15px;
}
.contact-link:hover{
    text-decoration: underline;
}
.contact-input{
    width: 100%;
    border: 1px solid #001e40;
    margin-bottom: 30px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}
.button{
    font-size: 20px;
    color: #fff;
    width: 100%;
    background: #001e40;
    display: inline-block;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .contact{
        margin: 20px auto;
    }
    .contact__container{
        grid-template-columns: repeat(1, 2fr);
    }
    
    .contact__container__left{
        width: 95%;
        background-color: #001e40;
        padding: 10px;
        color: #fff;
        border-radius: 20px;
    }
    .contact__container__right{
        width: 80%;
        padding: 30px;

    }

}