.btn {
	border: none;
	font-family: 'Poppins';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
/* .btn:before {
	font-family: 'fontawesome';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
} */

/* Icon separator */
.btn-sep {
	padding: 25px 50px 25px 50px;
}

/* .btn-sep:before {
	background: rgb(232, 248, 0);
} */

.btn-2 {
    background: #ffd72f;
	color: #333;
    border-radius: 7px;
    height: 70px;
}

.btn-2:hover {
	background: #27ae60;
}

/* .btn-2:active {
	background: #27ae60;
	top: 2px;
} */

/* .btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
} */

/* Icons
.icon-cart:before {
	content: "\f07a";
} */